# Import packages

In [1]:
import pandas as pd

# Import raw data

In [2]:
## Carbon prices
df = pd.read_csv('../Data/daily_prices.csv')
df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y %H:%M")
df.set_index('Date',inplace=True)

print(df.head())

            Price
Date
2017-01-02   6.12
2017-01-03   5.43
2017-01-04   5.72
2017-01-05   5.29
2017-01-06   5.50

In [3]:
df.index

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
               '2017-01-12', '2017-01-13',
               ...
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-05',
               '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09',
               '2021-04-12', '2021-04-13'],
              dtype='datetime64[ns]', name='Date', length=1104, freq=None)

In [4]:
## Oil price
oil_price = pd.read_csv('../Data/DCOILWTICO.csv')
oil_price['DATE'] = pd.to_datetime(oil_price['DATE'])
oil_price.set_index('DATE',inplace=True)

print(oil_price.tail())

           DCOILWTICO
DATE
2021-05-18      65.49
2021-05-19      63.28
2021-05-20      61.95
2021-05-21      63.61
2021-05-24      66.13

In [5]:
oil_price.index

DatetimeIndex(['1986-01-02', '1986-01-03', '1986-01-06', '1986-01-07',
               '1986-01-08', '1986-01-09', '1986-01-10', '1986-01-13',
               '1986-01-14', '1986-01-15',
               ...
               '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-24'],
              dtype='datetime64[ns]', name='DATE', length=9233, freq=None)

In [6]:
## Gas price
gas_price = pd.read_csv('../Data/DHHNGSP.csv')
gas_price['DATE'] = pd.to_datetime(gas_price['DATE'])
gas_price.set_index('DATE',inplace=True)

print(gas_price.tail())

           DHHNGSP
DATE
2021-05-19    2.88
2021-05-20    2.86
2021-05-21    2.84
2021-05-24    2.78
2021-05-25    2.87

In [7]:
## Euro stock market price index
euro_stock_market_index = pd.read_csv('../Data/ESTOXX50.csv')

euro_stock_market_index['Date'] = pd.to_datetime(euro_stock_market_index['Date'])
euro_stock_market_index = euro_stock_market_index[['Date', 'Adj Close']]
euro_stock_market_index.set_index('Date',inplace=True)

euro_stock_market_index.head()

              Adj Close
Date
2007-03-30  4181.029785
2007-04-02  4189.549805
2007-04-03  4246.299805
2007-04-04  4261.830078
2007-04-05  4271.540039

In [18]:
# HUN electricity prices
hupx = pd.read_excel('../Data/DAM_Market_Data_Prices_ATC_FLOW_2021.xlsx', sheet_name='Daily_Prices', header=1)
hupx = hupx.iloc[:,:2]
hupx.columns = ['Date','HU_price']
hupx['Date'] = pd.to_datetime(hupx['Date'], format="%d.%m.%Y")

hupx.set_index('Date',inplace=True)


hupx.head()

             HU_price
Date
2021-01-01  39.884167
2021-01-02  51.419583
2021-01-03  38.682500
2021-01-04  51.449167
2021-01-05  52.316250

# Merge datasets

In [19]:
df = df.merge(oil_price,left_index=True,right_index=True,how='left')

In [20]:
df = df.merge(gas_price,left_index=True,right_index=True,how='left')

In [21]:
df = df.merge(euro_stock_market_index,left_index=True,right_index=True,how='left')

In [22]:
df = df.merge(hupx,left_index=True,right_index=True,how='left')

In [23]:
df.tail()

            Price DCOILWTICO DHHNGSP    Adj Close   HU_price
Date
2021-04-07  43.76      59.77    2.43  3956.770020  65.572500
2021-04-08  43.38      59.61    2.47  3977.830078  68.886250
2021-04-09  43.56      59.29    2.48  3978.840088  63.886250
2021-04-12  44.39       59.7     2.5  3961.899902  66.790417
2021-04-13  43.76       60.2    2.57  3966.989990  71.423333

In [24]:
df.columns = ['carbon_price', 'oil_price', 'gas_price', 'stock_market_index_level', 'hupx']

In [25]:
# Handle non-numeric values
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

df = df[df.applymap(isnumber)]

In [26]:
df.head()

            carbon_price oil_price gas_price  stock_market_index_level  hupx
Date
2017-01-02          6.12       NaN      3.71                       NaN   NaN
2017-01-03          5.43     52.36      3.41               3315.020020   NaN
2017-01-04          5.72     53.26      3.42               3317.520020   NaN
2017-01-05          5.29     53.77      3.42               3316.469971   NaN
2017-01-06          5.50     53.98      3.38               3321.169922   NaN

# Data preprocessing (ffill etc)

# Export result

In [27]:
df.to_csv('../Data/merged_dataset.csv',index=True)

In [28]:
pd.read_csv('../Data/merged_dataset.csv', index_col=0).head()

            carbon_price  oil_price  gas_price  stock_market_index_level  hupx
Date
2017-01-02          6.12        NaN       3.71                       NaN   NaN
2017-01-03          5.43      52.36       3.41               3315.020020   NaN
2017-01-04          5.72      53.26       3.42               3317.520020   NaN
2017-01-05          5.29      53.77       3.42               3316.469971   NaN
2017-01-06          5.50      53.98       3.38               3321.169922   NaN

In [29]:
pd.read_csv('../Data/merged_dataset.csv', index_col=0).tail()

,carbon_price,oil_price,gas_price,stock_market_index_level,hupx
Date,,,,,
2021-04-07,43.76,59.77,2.43,3956.770020,65.572500
2021-04-08,43.38,59.61,2.47,3977.830078,68.886250
2021-04-09,43.56,59.29,2.48,3978.840088,63.886250
2021-04-12,44.39,59.70,2.50,3961.899902,66.790417
2021-04-13,43.76,60.20,2.57,3966.989990,71.423333