# Import packages

In [1]:
import pandas as pd

# Import raw data

In [20]:
## Carbon prices
df = pd.read_csv('../Data/daily_prices.csv')
df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y %H:%M")
df.set_index('Date',inplace=True)

print(df.head())

            Price
Date
2017-01-02   6.12
2017-01-03   5.43
2017-01-04   5.72
2017-01-05   5.29
2017-01-06   5.50

In [21]:
df.index

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
               '2017-01-12', '2017-01-13',
               ...
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-05',
               '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09',
               '2021-04-12', '2021-04-13'],
              dtype='datetime64[ns]', name='Date', length=1104, freq=None)

In [22]:
## Oil price
oil_price = pd.read_csv('../Data/DCOILWTICO.csv')
oil_price['DATE'] = pd.to_datetime(oil_price['DATE'])
oil_price.set_index('DATE',inplace=True)

print(oil_price.tail())

           DCOILWTICO
DATE
2021-05-18      65.49
2021-05-19      63.28
2021-05-20      61.95
2021-05-21      63.61
2021-05-24      66.13

In [23]:
oil_price.index

DatetimeIndex(['1986-01-02', '1986-01-03', '1986-01-06', '1986-01-07',
               '1986-01-08', '1986-01-09', '1986-01-10', '1986-01-13',
               '1986-01-14', '1986-01-15',
               ...
               '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-24'],
              dtype='datetime64[ns]', name='DATE', length=9233, freq=None)

# Merge datasets

In [24]:
df = df.merge(oil_price,left_index=True,right_index=True,how='left')

In [25]:
df.tail()

            Price DCOILWTICO
Date
2021-04-07  43.76      59.77
2021-04-08  43.38      59.61
2021-04-09  43.56      59.29
2021-04-12  44.39       59.7
2021-04-13  43.76       60.2

In [26]:
df.head()

            Price DCOILWTICO
Date
2017-01-02   6.12          .
2017-01-03   5.43      52.36
2017-01-04   5.72      53.26
2017-01-05   5.29      53.77
2017-01-06   5.50      53.98

# Data preprocessing (ffill etc)

# Export result

In [28]:
df.to_csv('../Data/merged_dataset.csv',index=True)

In [30]:
pd.read_csv('../Data/merged_dataset.csv', index_col=0).head()

            Price DCOILWTICO
Date
2017-01-02   6.12          .
2017-01-03   5.43      52.36
2017-01-04   5.72      53.26
2017-01-05   5.29      53.77
2017-01-06   5.50      53.98